html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    background: #ffF;
    width: 100vw;
    padding: 40px 30px 0 30px;
}
.header-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    /* height: 20vh; */
    margin-top: 60px;
}
.hello{
    font-size: 12px;
    font-weight: 200;
    font-family: monaco;
    margin-bottom: 10px;
    text-align: left;
   
}

.name{
    color: rgb(255, 182, 51 );
    font-weight: 700;
    font-size: 20px;
    padding: 0 5px 10px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.me{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.hire-me{
    margin-top: 20px;
}

.hire-me a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 30px;
    border: solid 1px rgb(255, 182, 51 );
    color: rgb(255, 182, 51 );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.hire-me a:hover{
    background: rgb(255, 182, 51 );
    color: #fff;
}

.header-right{
    width: 40%;
    height: 44vh;
    background: rgb(255, 182, 51 );
}
.header-right img{
    height: 55vh;
    width: 300px;
  transform: translate(-130px, -10px);
}
.header-right:hover{
    transform: rotateZ(5deg);
}
.about-sec{
    display: flex;
    padding: 10px 30px;
    margin: 80px 30px;
}
.about-img{
    border: solid 10px rgb(255, 182, 51 );
    margin: 30px;
}
.about-img img:hover{

    transform: scale(1.02, 1.02);
}
.about-img img{
    height: 55vh;
    width: 300px;
  transform: translate(30px, -35px);
  background: #fff;
  border: solid 5px rgb(240, 230 , 230);
}
.info-sec{
    margin: 30px 10px 30px 190px;
}
.info-sec h3{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info-sec .line{
    height: 3px;
    width: 80px;
    background: rgb(255, 182, 51 );
    margin-top: -30px;
    margin-bottom: 40px;
}
.info{
    text-align: justify;
    width: 65%;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    font-family:monaco;
    margin-bottom: 50px;
}
.buttons a{
    padding: 5px 15px ;
    color: rgb(255, 182, 51 );
    border: solid 1px rgb(255, 182, 51 );
    text-decoration: none;
    margin: 5px 3px ;
}
.buttons a:hover{
    color: #fff;
    background: rgb(255, 182, 51 );
}
.services-sec{
    display: flex;
    flex-direction: column;
    margin: 0 50px 50px 80px;
}

.services-sec h3{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line1{
    height: 3px;
    width: 80px;
    background: rgb(255, 182, 51 );
    margin-top: -30px;
    margin-bottom: 40px;
}
.service-notes{
    text-align: justify;
    width: 40%;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    font-family:monaco;
    margin-bottom: 50px;
}
.service-imgs{
    display: flex;
    flex-direction: column;
}
.img-1, .img-2{
    display: flex;
}
.img-1 img, .img-2 img{
    height:300px ;
    width: 48%;
    /* margin:  */
    margin-right: 10px;
    margin-bottom: 10px;
}

.img-1 img:hover, .img-2 img:hover{
    transform: scale(1.02, 1.02);
}
@media(max-width:768px){
    .header{
        flex-direction:column-reverse;
        justify-content: center;
        width:100%;
    }
    .header-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: -28%;
        margin-bottom: 40px;
    }
    .header-right{
        width: 70vw;
        margin: 10px 30px;
    }
    .about-sec{
       flex-direction: column;
       margin: 10px;
    }
    .about-img{
        height: 55vh;
        width: 300px;
    }
    .info-sec{
        margin:10px;
        width: 100vw;
    }

    .service-notes{
        text-align: justify;
        width: 100%;
        margin-bottom: 50px;
        margin-left: -30px;
    }

    .service-imgs{
        width: 100%;
    }
    .img-1, .img-2{
        flex-direction: column;
    }

    .img-1 img, .img-2 img{
        height:auto ;
        width: 100%;
        /* margin:  */
        margin-left: -30px;
        margin-bottom: 10px;
    }

}





